body
{
	/* resetting browser default properties */
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}

div
{
	/* remove comment indicators below to see the layout */
	/* border: 1px black solid; */
	/* preperaing flexbox */
	/* all code regarding flexbox based on: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
	display: flex;
	flex-direction: column;
	justify-content: center;
}

div#wrap
{
	/* setting defaults for the document */
	height: auto;
	margin: auto 0 auto 0;
	padding: 1vh 3.5vw 1vh 3.5vw;
	/* setting default font */
	font-family: Arial;
	font-size: small;
	background-color: #ffffff;
	color: #000000;
	position: relative;
	z-index: 2;
}
div#header
{
	width: 80vw;
	height: 10vh;
	margin: auto;
	margin-bottom: 2vh;
}
div#mainNav
{
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: stretch;
	width: 75vw;		/* margin/padding refactoring possibly needed elsewhere */
	/* margin: auto 5vw auto auto; */
	/* margin: auto; */
	margin: auto 10vw auto 15vw;
}

a
{
	text-decoration: none;
}

a.mainNavLink
{
	height: 5vh;
	line-height: 5vh;
	/* center vertically */
	flex-grow: 1;
	font-size: medium;
	margin: auto;	/* center all elements */
	text-align: center; /* center text */
	background-color: #000000;
	color: #ffffff;
	padding-left: 1vw;
	padding-right: 1vw;
}

a.mainNavLink:hover
{
	background-color: #ffffff;
	color: #000000;
}

div#main
{
	position: relative;
	flex-direction: row;
	justify-content: center;
	/*min-height: 65vh;*/
	/*height: auto;*/
	flex-grow: 3;
	margin-top: 2vh;
	width: 75vw;
	min-height: 80vh;	/* make sure all content will be displayed, especially the footer */
	margin-left: -5vw;
	padding-left: 20vw;
	z-index: 4;
}

div#sideNav
{
	margin: 1vh 0 1vh -3vw;
	/* margin-left: 0; */
	position: fixed;
	left: 3.5vw;
	top: 7vh;
}

a.sideNavLink	/* refactoring possible */
{
	flex-basis: 5vh;
	line-height: 5vh;
	font-size: medium;
	padding-top: 2vh;
	padding-bottom: 2vh;
	text-align: center;
	background-color: #000000;
	color: #ffffff;
	padding-left: 3vw;
	padding-right: 3vw;
}

a.sideNavLink:hover	/* refactoring possible */
{
	background-color: #ffffff;
	color: #000000;
}

div#contentWrap
{
	width: inherit;			/* IE fix; apparently it does not inherit values from the parent node */
	position: relative;
	margin: 1vh 1vw 1vh 1vw;
	flex-direction: column;
	justify-content: flex-start;
	text-align: justify;
	margin-bottom: 1vh;
	font-size: medium;
}
img.introImg
{
	margin: auto;
	width: 20vw;
	max-width: 50vw;
}
h2
{
	margin: 4vh 0 4vh 0;
	text-align: center;
}

p.intro
{
	margin-top: 2vh;
	flex-grow: 0.1;
}

p.mainText
{
	flex-grow: 1;
}

div#footer
{
	height: auto;
	margin-left: 15vw;
	margin-top: 2vh;
	margin-bottom: auto;
	flex-grow: 0.1;
	text-align: center;
	/* background-color: #f1faaf; */
	/* color: #7f8b1b; */
}

/* gallery specific */
div#galleryWrap
{
	/* position: relative; */
	top: 25vh;
	width: 50vw;
	height: auto;
	margin: auto;
	margin-top: 10vh;
	/* padding adjustments to ensure same distances between thumbnails */
	padding-top: 1vh;
	padding-bottom: 2vh;
	/* prevent selecting images and buttons inside the wrap */
	/* source: http://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting-using-css/8099186#8099186 */
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
}
div#mainImg
{
	flex-direction: row;
	width: 590px;
	height: 160px;
	margin: auto;
}
div#slides
{
	display: block;
	position: absolute;
	top: -2vh;
	left: 20vw;
	flex-direction: column;
	height: calc(160px * 5 + 15px); /* 5 = amount of images in the slidebar; 202px is total of width + 2 * 1px of border from both sides */
	width: 207px;
	/* margin-top: -1vh; */
	margin-left: -17vw;
	/* prevent selecting images and buttons inside the wrap */
	/* source: http://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting-using-css/8099186#8099186 */
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
	overflow: hidden;	/* prevent thumbnails from being seen outside of this container */
}
img.thumbnail
{
	position: relative;
	top: -3vh;
	width: 202px;
	height: 160px;
	border: 3px solid black;
	border-top: 1px solid black;
	margin-left: -1px;
	margin-top: -5px;
}			
						
img.thumbnail:hover
{
	cursor: pointer;
}
img.thumbnail:first-of-type
{
	border-top: 3px solid black;	/* add the remaining top border that was cut off in all other thumbnails */
}
img#fullSize
{
	width: 500px;
	height: 400px;
	cursor: pointer;
}
.fullScreen
{
	background-color: black;
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
	/* make it full screen */
	opacity: 0.90;
	z-index: 2;
}
.bigImage
{
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: auto;
	max-width: 80vw;
	max-height: 80vh;
	z-index: 3;
}
div.imgNav
{
	width: 45px;
	height: 400px;
	background-color: black;
	color: #ffffff;
	text-align: center;
	font-size: 4em;
	opacity: 0.5;
	cursor: pointer;
	position: relative;
}
div.imgSlideNav
{
	display: block;
	/*margin: auto;*/
	padding: 0;
	width: 202px;
	height: 32px;
	background-color: black;
	color: #ffffff;
	text-align: center;
	font-size: 2em;
	opacity: 0.5;
	cursor: pointer;
	position: relative;
	z-index: 2;
	padding-right: 2px;
}
div.imgNav:hover
{
	opacity: 0.8;
}
div.imgSlideNav:hover
{
	opacity: 0.8;
}
div#prevImg
{
	left: 45px;			/* push by width of this div which is inherited from imgNav class */
}
div#nextImg
{
	right: 45px;		/* push by width of this div which is inherited from imgNav class */
}
div#prevSlidebarImg
{
	top: 0px;
}
div#nextSlidebarImg
{
	top: -64px;
}
#slidebarAnimation
{
	
}
/* review/comment page specific */
div#commentWrap
{
	
}
div#commentList
{
	
}
div#commentArea
{
	
}
input#nameBox
{
	width: 30em;
}
textarea#commentBox
{
	font-family: Arial;
	resize: none;
	width: 60vw;
	max-width: 60vw;
	min-height: 10vh;
}
p.comment
{
	font-style: italic;
	margin-top: 3vh;
}
span.cmtName
{
	margin-top: 2vh;
}
span.date
{
	margin-top: 2vh;
}
/* contact page specific */
div#contactInfo
{
	float: left;
	flex-grow: 1;
	text-align: center;
}

div#map
{
	float: left;
}


