body
{
	/* resetting browser default properties */
	margin: 0;
	padding: 0;
}

div
{
	/* delete the comment below to see the layout */
	/* border: 1px black solid; */
	/* preperaing flexbox */
	/* all code regarding flexbox based on: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
	display: flex;
	flex-direction: column;
	justify-content: center;
}

div#wrap
{
	/* setting defaults for the document */
	height: auto;
	margin: auto 2.5vw auto 2.5vw;
	padding: 1vh 1vw 1vh 1vw;
	/* setting default font */
	font-family: Arial;
	font-size: small;
}
div#header
{
	width: 80vw;
	height: 10vh;
	margin: auto;
	margin-bottom: 2vh;
}
div#mainNav
{
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: stretch;
	width: 75vw;		/* margin/padding refactoring possibly needed elsewhere */
	/* margin: auto 5vw auto auto; */
	/* margin: auto; */
	margin: auto 10vw auto 15vw;
}

a
{
	text-decoration: none;
}

a.mainNavLink
{
	height: 5vh;
	line-height: 5vh;
	flex-grow: 1;
	font-size: medium;
	margin: auto;
	text-align: center;
	background-color: #000000;
	color: #ffffff;
	padding-left: 1vw;
	padding-right: 1vw;
}

a.mainNavLink:hover
{
	background-color: #ffffff;
	color: #000000;
}

div#main
{
	flex-direction: row;
	justify-content: center;
	/*min-height: 65vh;*/
	/*height: auto;*/
	flex-grow: 3;
	margin-top: 2vh;
	width: 75vw;
	margin-left: -5vw;
	padding-left: 20vw;
}

div#sideNav
{
	flex-grow: 1;
	justify-content: flex-start;
	margin: 1vh 0 1vh -3vw;
	/* margin-left: 0; */
	position: fixed;
	left: 3.5vw;
	top: 7vh;
}

a.sideNavLink	/* refactoring possible */
{
	flex-basis: 5vh;
	line-height: 5vh;
	font-size: medium;
	padding-top: 2vh;
	padding-bottom: 2vh;
	text-align: center;
	background-color: #000000;
	color: #ffffff;
	padding-left: 3vw;
	padding-right: 3vw;
}

a.sideNavLink:hover	/* refactoring possible */
{
	background-color: #ffffff;
	color: #000000;
}

div#contentWrap
{
	flex-grow: 10;
	width: 10vw;
	margin: 1vh 1vw 1vh 1vw;
	flex-direction: column;
	justify-content: flex-start;
	text-align: justify;
	margin-bottom: 1vh;
	font-size: medium;
}

h2
{
	margin: 4vh 0 4vh 0;
	text-align: center;
}

p.intro
{
	margin-top: 2vh;
	flex-grow: 0.1;
}

p.mainText
{
	flex-grow: 1;
}

div#footer
{
	height: auto;
	margin-top: 2vh;
	margin-bottom: auto;
	flex-grow: 0.1;
	text-align: right;
}

/* gallery specific */
div#galleryWrap
{
	/* flex-direction: column; */
	/* justify-content: space-around; */
	/* align-content: flex-start; */
	/* flex-wrap: wrap; */
	margin: auto;
	/* padding adjustments to ensure same distances between thumbnails */
	padding-top: 1vh;
	padding-bottom: 2vh;
	/* prevent selecting images and buttons inside the wrap */
	/* source: http://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting-using-css/8099186#8099186 */
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
div#mainImg
{
	flex-direction: row;
	width: 520px;
	height: 320px;
	margin: auto;
	margin-top: -10vh;
}
div#slides
{
	flex-direction: column;
	height: calc(162px * 5);/* 5 = amount of images in the slidebar; 202px is total of width + 2 * 1px of border from both sides */
	height: auto;
	width: 202px;
	margin-top: -1vh;
	/*border: 4px solid black;*/
	margin-left: -17vw;
}
img.thumbnail
{
	width: 202px;
	height: 160px;
	border: 3px solid black;
	border-top: 1px solid black;
	margin-left: -1px;
	flex-shrink: 0;					/*	prevent images from shrinking, particularly from navigation 			*/		
}									/*	trying to grow into empty space (e.g. when the last image is empty) 	*/
img.thumbnail:hover
{
	cursor: pointer;
}
img.thumbnail:first-of-type
{
	border-top: 2px solid black;	/* add the remaining top border that was cut off in all other thumbnails */
}
img#fullSize
{
	width: 400px;
	height: 320px;
	cursor: pointer;
}
.fullScreen
{
	background-color: black;
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
	/* make it full screen */
	opacity: 0.90;
	z-index: 2;
}
.bigImage
{
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: auto;
	margin: auto;
	max-width: 80vw;
	max-height: 80vh;
	z-index: 3;
}
div.imgNav
{
	width: 60px;
	height: 320px;
	background-color: black;
	color: #ffffff;
	text-align: center;
	font-size: 4em;
	opacity: 0.5;
	cursor: pointer;
	position: relative;
}
div.imgSlideNav
{
	/*margin: auto;*/
	padding: 0;
	width: 200px;
	height: 30px;				/* 160px of thumbnail height + (4px + 1px)*2 for border */
	border: 1px solid black;
	padding: 0 1px 0 1px;
	background-color: black;
	color: #ffffff;
	text-align: center;
	font-size: 2em;
	opacity: 0.5;
	cursor: pointer;
	position: relative;
}
div#prevImg
{
	left: 60px;				/* width of this div which is inherited from imgNav class */
}
div#nextImg
{
	right: 60px;			/* width of this div which is inherited from imgNav class */
}
div#prevSlidebarImg
{
	top: 34px;					/* same as the height */
}
div#nextSlidebarImg
{
	bottom: 34px;					/* same as the height */
}

/* review/comment page specific */
div#commentWrap
{
	
}
div#commentList
{
	
}
div#commentArea
{
	
}
input#nameBox
{
	width: 30em;
}
textarea#commentBox
{
	font-family: Arial;
	resize: none;
	width: 60vw;
	max-width: 60vw;
	min-height: 10vh;
}
p.comment
{
	font-style: italic;
	margin-top: 3vh;
}
span.cmtName
{
	margin-top: 2vh;
}
span.date
{
	margin-top: 2vh;
}
/* contact page specific */
div#contactInfo
{
	float: left;
	flex-grow: 1;
	text-align: center;
}

div#map
{
	float: left;
}


